h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nixie One', Georgia, serif;
  font-weight:400;
}

body {
  font-family: 'Ledger', Garamond, Georgia, serif;
  font-size:18px;
  font-weight:400;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-control {
  font-size:16px;
}

.container-header{
  padding:0px;
}

.footer {
  padding-left: 15px;
  padding-right: 15px;
}
iframe {
  margin: 0px 20%;
}

.header {
  text-align:center;
  margin-bottom:20px;
}

.header h1 {
  display:none;
}
.header-logo {
  width:280px;
}
strong {
  color:#785365;
}
a {
  color:#2F9F9A;
}

.nav-justified li {
  display: table-cell;
  width: 1%;
}

.nav {
  margin-bottom:20px;
}

.nav li {
  float:left;
  width:33.33333%;
  margin:0px !important;
  text-align:center;
}
.nav > li > a {
  display:inline-block;
  color:#785365;
}
.nav > li.active > a,
.nav > li.active > a:hover, 
.nav > li.active > a:focus {
  background-color:#785365;
}
.nav span{
  float:left;
}
.nav span.button{
  width:22px;
  height:25px;
  background:url(/img/button.png) no-repeat 0px 2px;
  margin-right: 6px;
}

.sign-up-form h3{
  width:100%;
  margin-top:0px;
  text-align:center;
}
.checkbox-first {
  margin-top:0px;
}

.footer {
  padding-top: 19px;
  color: #777;
  text-align:center;
  border-top: 1px solid #e5e5e5;
}

.intro {
  margin-bottom:30px;
}
.intro p{
  text-align:center;
  font-size:21px;
}

.container {
  max-width: 500px;
}

.container--wide {
  max-width: 1000px;
}

h2 {
  margin-top:0px;
  text-align:center;
}

.key-techniques img {
  margin-top:15px;
  margin-bottom:15px;
}
.key-techniques h2 {
  margin-bottom:20px;
}

.technique {
  padding:0px 20px 10px;
  background:#fefefe;
  background:rgba(47, 159, 154, 0.06);
  border: 1px solid #2F9F9A;
  margin-bottom:30px;
  border-radius: 6px;
}
.col--right .technique:nth-child(2n-1),
.col--left .technique:nth-child(2n) {
  border-color: #785365;
  background:rgba(120, 83, 101, 0.06);
}

@media (max-width: 500px) {
  .header-logo {
    width:200px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .nav > li > a{
    padding:10px 10px;
  }
}
@media screen and (max-width: 400px) {
  .nav > li > a span.button{
    display:none;
  }
}
